---
import { getCollection } from "astro:content";
import Navbar from "@/components/navigation/navbar";
import Footer from "@/components/navigation/footer";
import Main from "@/layouts/Main.astro";

export async function getStaticPaths() {
  const writings = await getCollection("writings");

  return writings.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post: writing } = Astro.props;
const { Content } = await writing.render();
---

<Main title={writing.data.title} description={writing.data.description}>
  <Navbar client:load />
  <div class="py-16">
    <header>
      <div class="container max-w-screen-lg">
        <div class="py-8">
          <h1 class="mb-2 text-4xl font-bold">{writing.data.title}</h1>
          <time class="" datetime={writing.data.date.toISOString()}>
            {
              writing.data.date.toLocaleDateString("en-US", {
                weekday: "long",
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </time>
        </div>
      </div>
    </header>
    <main id="main">
      <div class="container max-w-screen-lg">
        <div class="prose dark:prose-invert">
          <Content />
        </div>
      </div>
    </main>
  </div>
  <Footer />
</Main>
