---
import Main from "@/layouts/Main.astro";
import { Button } from "@/components/ui/button";
import Navbar from "@/components/navigation/navbar";
---

<Main title="Jalu Satriani Wijaya">
  <Navbar client:load />
  <header class="py-40">
    <div class="container">
      <div class="text-center">
        <h1 class="text-uppercase mb-0 text-6xl font-bold">
          Jalu Satriani Wijaya
        </h1>
        <p class="mt-4 text-2xl">Software Engineer</p>
        <p class="mx-auto mt-4 max-w-[66ch] leading-loose">
          Jalu is an Indonesian software engineer, proficient in Full Stack Web
          Development, with over two years of experience in building full-stack
          web and multi-platform applications. He is passionate about building
          software solutions that genuinely help others.
        </p>
        <Button className="mt-8" size="lg">Reach Me</Button>
      </div>
    </div>
  </header>
  <main id="main"></main>
  <footer>
    <div class="container">
      <p class="text-center">&copy; 2024 Jalu Satriani Wijaya</p>
    </div>
  </footer>
</Main>
